services:
    ##############################################################
    # Register DI Container
    # ============================================================
    #
    # For correct operation of autowiring for methods it is
    # required to register the DI Container as a Symfony service.
    #
    # As a proxy, it is transmitted compatible with the PSR in
    # order that the controller's methods have access to
    # the original Symfony services.
    #
    ##############################################################

    Railt\Container\Container:
        arguments: ['@service_container']

    Railt\Container\ContainerInterface:
        alias: Railt\Container\Container

    Railt\Foundation\ApplicationInterface:
        alias: Railt\Foundation\Application

    Railt\Foundation\Application:
        arguments:
            - '%railt.debug%'
            - '@Railt\Container\ContainerInterface'
            - '@Railt\SymfonyBundle\Storage\CacheAdapter'

    Railt\SymfonyBundle\Container\StopwatchProxy:
        autowire: true

    Railt\SymfonyBundle\Config:
        arguments:
            - '@service_container'

    Railt\SymfonyBundle\Controller\GraphQLController:
        autowire: true
        tags: ['controller.service_arguments']
